In [1]:
num = 0 
print(num)

0

In [2]:
num2 = 2
print(num2)

2

In [3]:
num_3 = 3
print(num_3)

3

In [4]:
hello = 'Hello World Python'
print(hello)

Hello World Python

In [5]:
헬로 = 'Hello'
print(헬로)

Hello

In [6]:
헬로2 = '안녕'
print(헬로2)

안녕

In [7]:
_hello = 'Hello'
print(_hello)

Hello

In [8]:
hello2 = 'Hello World'
print(hello2)

Hello World

In [11]:
3hello = 'Hello World Python'
#불기

SyntaxError: invalid syntax (<ipython-input-11-01047687cc88>, line 1)

In [12]:
2_hello = 'Hello World'
#불가

SyntaxError: invalid decimal literal (<ipython-input-12-3dd200d2fce0>, line 1)

In [13]:
num1 = 10
num2 = 5

In [14]:
print(num1, num2)

10 5

In [15]:
print(num1 + num2)

15

In [16]:
print('sum :', num1 + num2)

sum : 15

In [17]:
a = b = 10

In [18]:
print(a)

10

In [19]:
print(b)

10

In [20]:
a, b = 2, 4

In [21]:
print(a)

2

In [22]:
print(b)

4

In [23]:
a = 10; b = 5

In [24]:
print(a, b)

10 5

In [25]:
temp = a; a = b; b = temp

In [26]:
print(a, b)

5 10

In [27]:
a = 10; b = 5

In [28]:
print(a, b)

10 5

In [29]:
a, b = b, a

In [47]:
print(a, b)

5 10

# 자료형

In [30]:
price = 1000
print(price)
print(type(price))

1000
<class 'int'>

In [31]:
rate = 0.05
print(rate)
print(type(rate))

0.05
<class 'float'>

In [33]:
amount = 17e5
print(amount)
decimal = 2.65e-3
print(decimal)

1700000.0
0.00265

In [35]:
a = True
b = False
print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [36]:
s = 'Hello'
print(s)
print(type(s))

Hello
<class 'str'>

In [39]:
l = [1, 2, 3, 4, 5]
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [40]:
t = (1, 2, 3, 4, 5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [41]:
se = {1, 2, 3, 4, 5}
print(se)
print(type(se))

{1, 2, 3, 4, 5}
<class 'set'>

In [42]:
d = {'a':1, 
     'b':2, 
     'c':3}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

# 형변환

In [43]:
price = 1000
print(type(price))

<class 'int'>

In [45]:
price = price * 0.05
print(price)

2.5

In [46]:
print(type(price))

<class 'float'>

In [48]:
i1 = 1000
print(type(i1))

<class 'int'>

In [49]:
i1 = i1/4 
print(i1)

250.0

In [50]:
print(type(i1))

<class 'float'>

In [51]:
s1 = '12345'
print(type(s1))

<class 'str'>

In [53]:
i1 = int(s1)
print(i1)
print(type(i1))

12345
<class 'int'>

In [54]:
s2 = '12345a'
int(s2)
#불가

ValueError: invalid literal for int() with base 10: '12345a'

In [55]:
s2 = '1234 '
int(s2)

1234

In [56]:
i1 = 100
print(type(i1))

<class 'int'>

In [57]:
f1 = float(i1)
print(f1)
print(type(f1))

100.0
<class 'float'>

In [58]:
s1 = '3.14'
print(type(s1))

<class 'str'>

In [59]:
f1 = float(s1)
print(f1)
print(type(f1))

3.14
<class 'float'>