# 5과 실습

In [1]:
a = '파이썬'
print(a)

파이썬

In [2]:
b = "문자열"
print(b)

문자열

In [3]:
c = """
죽는 날까지 하늘을 우러러 
한 점 부끄럼 없기를
잎새에 이는 바람에도
나는 괴로워 했다
"""
print(c)

죽는 날까지 하늘을 우러러
한 점 부끄럼 없기를
잎새에 이는 바람에도
나는 괴로워 했다

In [4]:
'파이썬' + 3
#불가

TypeError: can only concatenate str (not "int") to str

In [5]:
d = '파이썬' + str(3)
print(d)

파이썬3

In [6]:
e = '*' * 10
print(e)

**********

In [14]:
a = 'HelloWorld!'

In [15]:
a

'HelloWorld!'

In [16]:
a[0]

'H'

In [17]:
a[5]

'W'

In [18]:
a[-1]

'!'

In [19]:
a[-2]

'd'

In [20]:
a[:5] # a[0:5]

'Hello'

In [21]:
a[5:]

'World!'

In [25]:
a[:]

'HelloWorld!'

In [26]:
a[::2]

'Hlool!'

In [27]:
a[::-1] #step이 음수는 역정렬

'!dlroWolleH'

In [28]:
a[::-2]

'!loolH'

In [7]:
len('HelloWorldPython')

16

In [8]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [9]:
'-'.join('12345')

'1-2-3-4-5'

In [10]:
'Hello-World-Python'.split('-')

['Hello', 'World', 'Python']

In [11]:
'서울시 마포구 상암동 1585'.split()

['서울시', '마포구', '상암동', '1585']

In [12]:
text = '\t 문자열 정리   \n'
text.strip()

'문자열 정리'

In [13]:
생일 = '2016/08/30'
생일.replace('/', '-')

'2016-08-30'

In [14]:
'Hello World Python'.startswith('Hello')

True

In [15]:
'Hello World Python'.startswith('hello')

False

In [16]:
'Hello World Python'.endswith('Python')

True

In [17]:
'Hello World Python'.endswith('python')

False

In [18]:
text = 'Hello World Python'
text.count('o')

3

In [19]:
text = 'Hello World Python, Welcome to Python World'
text.count('Python')

2

In [21]:
text.index('o')

4

In [22]:
text.index('o', 5)

7

In [23]:
text.find('Python', 20)

31

In [24]:
'Hello World'.capitalize()

'Hello world'

In [25]:
'Hello World'.lower()

'hello world'

In [26]:
'Python' in 'Hello World Python'

True

In [27]:
name, age, phone = '홍길동', 25, '010-111-2222'

In [28]:
소개 = "이름은 {} 이고, 나이는 {}세 이며, 전화번호는 {} 입니다. ".format(name, age, phone)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [29]:
소개 = "이름은 {0} 이고, 나이는 {2}세 이며, 전화번호는 {1} 입니다. ".format(name, phone, age)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [30]:
소개 = "이름은 {a} 이고, 나이는 {b}세 이며, 전화번호는 {c} 입니다. ".format(c = phone, a = name, b = age)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [31]:
소개 = f"이름은 {name} 이고, 나이는 {age}세 이며, 전화번호는 {phone} 입니다. "
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [32]:
jan, dec = 1, 12
print("한 해의 시작은 {:02d}월".format(jan))
print("한 해의 마지막은 {:02d}월".format(dec))

한 해의 시작은 01월
한 해의 마지막은 12월

In [33]:
val = 123456789
money = "{:,}"
money.format(val)
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(3, 3, 3, 3.1415, 1/3)

'3, 3.000000, 3.0, 3.14, 33.33%'